# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=0.15.0=pypi_0
aiosignal=1.3.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=23.2.0=pypi_0
backports-zoneinfo=0.2.1=pypi_0
ca-certificates=2024.3.11=h06a4308_0
cachetools=5.3.3=pypi_0
certifi=2024.6.2=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=2.0.12=pypi_0
click=8.1.7=pypi_0
combo=0.1.3=pypi_0
contourpy=1.1.1=pypi_0
custom-inherit=2.3.2=pypi_0
cycler=0.12.1=pypi_0
dateparser=1.1.8=pypi_0
decorator=5.1.1=pypi_0
dill=0.3.8=pypi_0
filelock=3.15.1=pypi_0
flatbuffers=1.12=pypi_0
fonttools=4.53.0=pypi_0
frozendict=1.2=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.6.0=pypi_0
gast=0.3.3=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.24=pypi_0
google-auth=2.30.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
gputil=1.4.0=pypi_0
grpcio=1.32.0=pypi_0
grpcio-testing=1.32.0=pypi_0
grpcio-tools=1.32.0=pypi_0
h5py=2.10.0=pypi_0
idna=3.7=pypi_0
importlib-metadata=7.1.0=pypi_0
joblib=1.4.2=pypi_0
jsonpath-ng=1.5.3=pypi_0
jsonschema=4.0.1=pypi_0
keras=2.4.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.5=pypi_0
ld_impl_linux-64=2.38=h1181459_1
liac-arff=2.5.0=pypi_0
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
llvmlite=0.39.1=pypi_0
markdown=3.6=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.6.3=pypi_0
more-itertools=8.5.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.8=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.1=pypi_0
nimfa=1.4.0=pypi_0
numba=0.56.4=pypi_0
numpy=1.21.0=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-nccl-cu12=2.21.5=pypi_0
oauthlib=3.2.2=pypi_0
openml=0.11.0=pypi_0
openssl=3.0.13=h7f8727e_2
opt-einsum=3.3.0=pypi_0
packaging=24.1=pypi_0
pandas=1.3.4=pypi_0
patsy=0.5.6=pypi_0
pillow=7.1.2=pypi_0
pip=24.0=py38h06a4308_0
ply=3.11=pypi_0
protobuf=3.20.3=pypi_0
pyarrow=16.1.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pyentrp=0.8.5=pypi_0
pyparsing=3.1.2=pypi_0
pyrsistent=0.18.0=pypi_0
python=3.8.19=h955ad1f_0
python-dateutil=2.8.2=pypi_0
pytypes=1.0b10=pypi_0
pytz=2024.1=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=5.4.1=pypi_0
ray=2.10.0=pypi_0
readline=8.2=h5eee18b_0
regex=2024.5.15=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=2.0.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rsa=4.9=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.7.1=pypi_0
setuptools=69.5.1=py38h06a4308_0
simplejson=3.12.0=pypi_0
six=1.15.0=pypi_0
smmap=5.0.1=pypi_0
sqlite=3.45.3=h5eee18b_0
statsmodels=0.11.1=pypi_0
stumpy=1.4.0=pypi_0
sympy=1.13.3=pypi_0
tamu-axolotl=2021.2.11.1=pypi_0
tamu-d3m=2022.5.23=pypi_0
tensorboard=2.11.2=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensorflow=2.4.0=pypi_0
tensorflow-estimator=2.4.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tk=8.6.14=h39e8969_0
torch=1.13.1=pypi_0
tqdm=4.66.4=pypi_0
typing-extensions=3.7.4.3=pypi_0
typing-inspect=0.7.1=pypi_0
tzlocal=5.2=pypi_0
urllib3=1.26.18=pypi_0
webcolors=1.11.1=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py38h06a4308_0
wrapt=1.12.1=pypi_0
xgboost=2.1.0rc1=pypi_0
xmltodict=0.13.0=pypi_0
xz=5.4.6=h5eee18b_1
zipp=3.19.2=pypi_0
zlib=1.2.13=h5eee18b_1
